@require "../node_modules/normalize.css/normalize.css"

@font-face {
  font-family 'Lato'
  src url('../fonts/LatoLatin-Bold.woff2') format('woff2'), url('../fonts/LatoLatin-Bold.woff') format('woff'), url('../fonts/LatoLatin-Bold.ttf') format('truetype')
  font-style normal
  font-weight bold
  text-rendering optimizeLegibility
}

@font-face {
  font-family 'Lato'
  src url('../fonts/LatoLatin-Italic.woff2') format('woff2'), url('../fonts/LatoLatin-Italic.woff') format('woff'), url('../fonts/LatoLatin-Italic.ttf') format('truetype')
  font-style italic
  font-weight normal
  text-rendering optimizeLegibility
}

@font-face {
  font-family 'LatoLight'
  src url('../fonts/LatoLatin-Light.woff2') format('woff2'), url('../fonts/LatoLatin-Light.woff') format('woff'), url('../fonts/LatoLatin-Light.ttf') format('truetype')
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility
}

@font-face {
  font-family 'Lato'
  src url('../fonts/LatoLatin-Regular.woff2') format('woff2'), url('../fonts/LatoLatin-Regular.woff') format('woff'), url('../fonts/LatoLatin-Regular.ttf') format('truetype')
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility
}

$primary = #DFE1E8
$bg1 = #16232A
$bg2 = #1A2B34
$bg3 = #465B66

$purple = #C792C7
$blue = #6297D0
$green = #97C990
$orange = #FD9148
$red = #F05D61

*
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%

body
  background-color $bg1
  color $primary
  font-family Lato, Helvetica, sans-serif
  font-size 18px

.wrapper
  width 100vmax
  height calc(100vmax * 0.5625)
  margin 0 auto
  padding calc(100vmax / 96)
  position relative
  font-size calc(100vmax * 0.5625 / 45)
  line-height 1em

.grid
  width 100%
  height 100%
  margin 0 auto
  position relative

.header
  font-family LatoLight, Lato, Helvetica, sans-serif
  border calc(100vmax / 384) solid $bg1
  height (100% / 10.5)
  position absolute
  top 0
  left 0
  font-size 4em
  line-height 1em

.block
  background-color $bg2
  border calc(100vmax / 384) solid $bg1
  position absolute
  for c in 1 2 3 4 5 6 7 8
    &.c{c}
      left (100% / 8 * (c - 1))
    &.w{c}
      width (100% / 8 * c)
  for r in 1 2 3 4
    &.r{r}
      top (100% / 8 / 0.5625 * (r - 1) + 11.111111111%)
    &.h{r}
      height (100% / 8 / 0.5625 * r)
