@require "../node_modules/normalize.css/normalize.css"
@require "./fonts.styl"

$primary = #DFE1E8
$danger = #A90015
$bg1 = #16232A
$bg2 = #1A2B34
$bg3 = #465B66

$purple = #C792C7
$blue = #6297D0
$green = #97C990
$orange = #FD9148
$red = #F05D61

// colours
.green
  color $green
.blue
  color $blue
.red
  color $red
.purple
  color $purple
.orange
  color $orange

.danger
  background-color $danger
  color white
  .block-value-caption
    color white
  h3
    color white
  th
    color white
  svg.deltaline, svg.totalline, svg.bar, svg.deltabar
    polyline
      stroke white
    polygon
      fill white
    circle
      fill white
    rect
      fill white

// sizes
.xpoint5
  font-size 0.5em
.x1point5
  font-size 1.5em
.x2
  font-size 2em
.x3
  font-size 3em
.x4
  font-size 4em

table
  margin 0 auto
  padding 1em 0
  border-collapse collapse

thead.rotate
  th
    height 10em
    white-space nowrap
    > div
      transform translate(0px, 3em) rotate(270deg)
      width 2.5em
      > span
        padding 5px 5px

tbody th
  text-align right
  padding-right 0.8em
  padding-left 0.8em

th
  opacity 0.6
  font-weight normal

td
  text-align right
  padding 0.8em
  font-weight bold
  &.bar
    padding 0.2em
    width 10em
    text-align left
  &.deltaline
    padding 0

*
  box-sizing border-box

html, body
  margin 0
  padding 0
  height 100%

body
  background-color $bg1
  color $primary
  font-family Lato, Helvetica, sans-serif
  font-size 18px
  display flex
  align-items center

.wrapper
  width 100vmax
  min-width 622px
  min-height 350px
  height 64em
  margin 0 auto
  padding calc(100vmax / 96)
  position relative
  font-size calc(100vmax * 0.5625 / 64)
  line-height 1em

.dashboard
  width 100%
  height 100%
  margin 0 auto
  position relative

.dashboard-title
  height (100% / 10.5)
  position absolute
  bottom 0
  left 0

  h1
    font-family LatoLight, Lato, Helvetica, sans-serif
    margin 0
    padding 0
    font-size 3em
    line-height 1em

  p
    margin 0.8em 0
    font-size 1.4em
    color $secondary

.dashboard-logo
  height (100% / 10.5)
  width 100%
  position absolute
  bottom 0
  right 0
  text-align right

  img
    height 100%

.block
  background-color $bg2
  border calc(100vmax / 500) solid $bg1
  position absolute
  for c in 1 2 3 4 5 6 7 8
    &.c{c}
      left (100% / 8 * (c - 1))
    &.w{c}
      width (100% / 8 * c)
  for r in 1 2 3 4
    &.r{r}
      top (100% / 8 / 0.5625 * (r - 1))
    &.h{r}
      height (100% / 8 / 0.5625 * r)

.centered
  display flex
  justify-content center
  flex-direction column

.block-title
  padding-bottom 0.4em
  h1
    font-size 1.4em
    font-weight bold
    line-height 1em
    padding 0.4em
    margin 0
    & + h2, & + h3
      padding-top 0.1em

  h2
    font-size 1.2em
    font-weight bold
    line-height 1em
    padding 0.4em
    margin 0
    & + h3
      padding-top 0em

  h3
    font-size 1em
    line-height 1em
    font-weight normal
    padding 0.4em
    margin 0
    opacity 0.6

.block-unit
  &.danger
    border-left 0.4em solid white
  &.full
    height 100%

.block-value
  font-size 3.8em
  line-height 1em
  text-align right
  padding 0.2em 0.1em 0 0

.block-value-caption
  text-align right
  font-size 1em
  line-height 1.5em
  font-weight normal
  padding 0.2em 0.2em 0.5em 0
  opacity 0.6

svg.deltaline, svg.totalline, svg.bar
  polyline
    fill none
    stroke currentColor
    stroke-width 0.15em
  polygon
    fill currentColor
    opacity 0.2
  circle
    fill currentColor
  rect
    fill currentColor
div.deltaline, div.totalline
  padding 0.4em
